body{
   background-color: rgb(24, 75, 52);
color: white;
}
.texto{
    margin: 5px;
}
.input{
    background-color: rgba(259, 250, 179, 0.8);
    font-size:18px ;
    border-radius: 10px;
}

.text-start.centro{
    width: 50%;
    margin: auto;

}
.estilotextarea {
    border: 4px groove rgba(259, 250, 179, 0.8);
    height: 200px;
    width: 200px;
    margin: 30px;
}
