<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head th:replace="/fragments/head :: head">
</head>

<body>
	<!-- <header th:replace="/fragments/header :: header">
	</header> -->

	<nav th:replace="/fragments/navbar :: nav">
	</nav>

	<section>
		<div class="container">
			<div class="row">
				<div class="col align-self-center">
					<div th:text="${error}" th:if="${error != null}" style="color: red"></div>
					<div th:text="${logout}" th:if="${logout != null}" style="color: green"></div>
				</div>
			</div>
			<div class="row">
				<div class="col align-self-center">
					<form action="/logincheck" name="ingreso" id="ingreso" method="POST">
						<!-- Grupo: Correo Electronico -->
						<div class="formulario__grupo" id="grupo__correo">
							<label for="correo" class="formulario__label">Correo Electrónico</label>
							<div class="formulario__grupo-input">
								<input type="email" class="formulario__input" name="correo" id="correo"
									placeholder="correo@correo.com">
								<i class="formulario__validacion-estado fas fa-times-circle"></i>
							</div>
							<p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos,
								guiones y
								guion bajo.</p>
						</div>
						
						<!-- Grupo: Contraseña -->
						<div class="formulario__grupo" id="grupo__password">
							<label for="password" class="formulario__label">Contraseña</label>
							<div class="formulario__grupo-input">
								<input type="password" class="formulario__input" name="contrasena" id="contrasena">
								<i class="formulario__validacion-estado fas fa-times-circle"></i>
							</div>
							<p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
						</div>

						<button class="btn btn-success"> Aceptar </button>
						<a class="btn btn-danger" href="/"> Volver </a>
					</form>
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="/fragments/footer :: footer">
	</footer>

	<script src="/js/FormularioIngreso.js">
	</script>

	<script th:replace="/fragments/boostjs :: script">
	</script>
</body>

</html>