<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<head th:replace="/fragments/head :: head">
</head>

<body>
<header th:replace="/fragments/header :: header">
	</header>


	<section>
		<div class="container">
			<div class="row align-items-start text-center justify-content-center">
				<div class="col-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"> Procedimiento de encendido </h5>
							<a class="btn btn-danger col-3" href="/operacion-general/general"> Volver </a>
							<a href="/operacion-general/encendido" class="btn btn-success"> Comenzar </a>
						</div>
					</div>
				</div>
				


	<script>
		function botonCancelar(){
			
			return confirm("Desea cancelar la operación? (No se guardaran los cambios realizados)");
		}
	</script>

	<script th:replace="/fragments/boostjs :: script">
	</script>
</body>

</html>