<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head">
</head>

<body>
	<!-- <header th:replace="/fragments/header :: header">
	</header> -->

	<nav th:replace="/fragments/navbar :: nav">
	</nav>

	<section>
		<div class="container">
			<div class="row align-items-start">
				<div class="col">
					<div class="card" style="width: 18rem;">
						<img src="./img/usuarios.jpg" class="card-img-top" alt="No se encuentra la imagen" />
						<div class="card-body">
							<h5 class="card-title"> Nueva operación </h5>
							<a href="/operacion-general/nueva" class="btn btn-primary"> Nueva </a>
							<a href="/operacion-general/busca" class="btn btn-primary"> Buscar </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<hr>
		<div>
			<a class="btn btn-light" href="/"> Volver </a>
		</div>
	</section>

	<footer th:replace="/fragments/footer :: footer">
	</footer>

	<script th:replace="/fragments/boostjs :: script">
	</script>
</body>

</html>