<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head">
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/procedimiento-encendido.css}">
<body>
	<!-- <header th:replace="/fragments/header :: header">
	</header> -->



	<section class="container">
		<h1 class="text-center">RA 4</h1>
			<div class="row align-items-start">
				<div class="col">
					<h1 class="text-center"> DATOS DE OPERACIÓN </h1>
				</div>
			</div>
			<div class="row text-center">
					<h2 th:text="@{Operación N°: } + ${num}"></h2>
			</div>
			<form onPaste="return false" action="/operacion-general/operacion" id="formulario" method="POST">
				<div class="container">
				
					<div class="row align-items-center">
						<!-- PERSONAL A CARGO DE LA OPERACION -->
						<div class="col-6">
							<label class="my-2"> Jefe de Reactor </label>
							<select class="form-select" aria-label="Default select example " name="jefe">
								<option th:value="${seleccion}" th:text="@{Seleccionar Jefe de Reactor}" selected>
								</option>
								<option th:each="jrLista : ${jrLista}" th:value="${jrLista}" th:text="${jrLista}">
								</option>
							</select>
							<label class="my-2"> Operador </label>
							<select class="form-select" aria-label="Default select example" name="operador">
								<option th:value="${seleccion}" th:text="@{Seleccionar Operador}" selected> </option>
								<option th:each="opLista : ${opLista}" th:value="${opLista}" th:text="${opLista}">
								</option>
							</select>
							<label  class="my-2"> Oficial de Radioprotección </label>
							<select class="form-select" aria-label="Default select example" name="oficial">
								<option th:value="${seleccion}" th:text="@{Seleccionar Oficial de Radioprotección}"
									selected> </option>
								<option th:each="ofLista : ${ofLista}" th:value="${ofLista}" th:text="${ofLista}">
								</option>
							</select>
						</div>
						</div>
						<hr>
						<!-- FACILIDAD PARA EXPERIMENTACION -->
						<div class="row align-items-center">
						<div class="col-12">
							<div class="input-group ">
								<span class="input-group-text"> Canal central </span>
								<textarea class="form-control estilotextAreaCanales" aria-label="With textarea"
									name="canalCentralHorizontal"></textarea>
							</div>
							<div class="input-group">
								<span class="input-group-text"> Canal lateral superior </span>
								<textarea class="form-control estilotextAreaCanales" aria-label="With textarea"
									name="canalLateralSupHorizontal"></textarea>
							</div>
							<div class="input-group">
								<span class="input-group-text"> Canal lateral inferior </span>
								<textarea class="form-control estilotextAreaCanales" aria-label="With textarea"
									name="canalLateralInfHorizontal"></textarea>
							</div>
							<div class="input-group">
								<span class="input-group-text"> Canal vertical </span>
								<textarea class="form-control estilotextAreaCanales" aria-label="With textarea"
									name="canalCentralVertical"></textarea>
							</div>
							<div class="input-group">
								<span class="input-group-text"> Canal vertical lateral </span>
								<textarea class="form-control estilotextAreaCanales" aria-label="With textarea"
									name="canalLateralVertical"></textarea>
							</div>
						</div>
					</div>
					</div>
					<hr>
					<!-- DATOS DE LA OPERACION -->
					<div class="row align-items-center">
						<div class="col-6">
							<label  class="my-2">Motivo</label>
							<select class="form-select" aria-label="Default select example" name="motivo">
								<option value="seleccion-motivo" text="Seleccionar una opción de la lista" selected>
								</option>
								<option value="motivo-1" text="Investigación"></option>
								<option value="motivo-1" text="Enseñanza"></option>
							</select>
							<label  class="my-2">Scram</label>
							<select class="form-select" aria-label="Default select example" name="scram">
								<option value="seleccion-scram" text="Seleccionar una opción de la lista}" selected>
								</option>
								<option value="scram-1" text="Pulsador consola"></option>
								<option value="scram-2" text="Pulsador puerta de emergencia"></option>
							</select>
						</div>
						</div>
						<hr>
						<!-- INHIBIDORES DE DISPARO -->
						<div class="row align-items-center">
						<div class="col">
							<input type="checkbox" id="cbox1" name="cbox1"> <label for="cbox1"> Puerta consola
							</label><br>
							<input type="checkbox" id="cbox2" name="cbox2"> <label for="cbox2"> Puerta reactor
							</label><br>
							<input type="checkbox" id="cbox3" name="cbox3"> <label for="cbox3"> Experiencia potencia
								cero
							</label><br>
							<input type="checkbox" id="cbox4" name="cbox4"> <label for="cbox4"> Experiencia núcleo
							</label><br>
						</div>
					</div>
					</div>
					<hr>
					<!-- EXISTENCIA DE MUESTRA -->
					<div class="row align-items-center">
						<div class="col">
							<input type="checkbox" id="muestr" name="muestra"> <label for="muestra"> Muestra
							</label><br>
						</div>
					</div>
					</div>
					<hr>
					<!-- TOMA DE DATOS DE LA OPERACION -->
					
					<div class="row align-items-center">
					<h2> Toma de datos </h2>
						<div class="col">
							<label> Temperatura Núcleo [°C] </label>
							<div class="formulario__grupo" id="grupo__temperaturaN">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-3" name="temperaturaN" id="temperaturaN">
									<label class="formulario__label col-1">°C</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
								</div>
								<p class="formulario__input-error">El campo solo puede tener numeros reales.</p>
							</div>
						</div>
					</div>
						</div>
						<hr>
					<div class="row align-items-center">
						<div class="col-6">
							<label> Posición de Fuente [cm] </label>
							<div class="formulario__grupo" id="grupo__poscFuente">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="poscFuente" id="poscFuente">
									<label class="formulario__label col-4">cm</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
									<p class="formulario__input-error">El campo solo puede tener numeros reales.</p>
								</div>
							</div>
						</div>
						
						
						<div class="col-6">
							<label> Posición de Núcleo [cm] </label>
							<div class="formulario__grupo" id="grupo__poscNucleo">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="poscNucleo" id="poscNucleo">
									<label class="formulario__label col-4">cm</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
									<p class="formulario__input-error">El campo solo puede tener numeros reales.</p>
								</div>
							</div>
						</div>
					</div>
						
					<div class="row align-items-center">
						<div class="col-6">
							<label> Posición Barra de Control 1 [cm] </label>
							<div class="formulario__grupo" id="grupo__poscBC1">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="poscBC1" id="poscBC1">
									<label class="formulario__label col-1">cm</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
									<p class="formulario__input-error">El campo solo puede tener numeros reales.</p>
								</div>
							</div>
						</div>
						
						
						<div class="col-6">
							<label> Posición Barra de Control 2 [cm] </label>
							<div class="formulario__grupo" id="grupo__poscBC2">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="poscBC2" id="poscBC2">
									<label class="formulario__label col-4">cm</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
									<p class="formulario__input-error">El campo solo puede tener numeros reales.</p>
								</div>
							</div>
						</div>
					</div>
				<hr>
					
		<div class="row align-items-center">
							<div class="row align-items-center">
						<div class="col-6">
							<label> Escalímetro [2x10-1 min] </label>
							<div class="formulario__grupo" id="grupo__escalimetro">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="escalimetro" id="escalimetro">
									<label class="formulario__label col-4">ctas.</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
									<p class="formulario__input-error">El campo solo puede tener de 1 a 14 numeros enteros.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-6">
							<label> Integrador Logarítmico [pulsos/min] </label>
							<div class="formulario__grupo" id="grupo__intLogaritmico">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="intLogaritmico"id="intLogaritmico">
									<label class="formulario__label col-4">s-1</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
								</div>
								<p class="formulario__input-error">El campo se completa con notacion cientifica.</p>
							</div>
						</div>
						<div class="col-6">
							<label> Integrador Lineal [pulsos/seg] </label>
							<div class="formulario__grupo" id="grupo__intLineal">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="intLineal" id="intLineal">
									<label class="formulario__label col-4">min-1</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
								</div>
								<p class="formulario__input-error">El campo se completa con notacion cientifica.</p>
							</div>
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-6">
							<label> Logarítmico de potencia [A] </label>
							<div class="formulario__grupo" id="grupo__intLogPotencia">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="intLogPotencia"id="intLogPotencia">
									<label class="formulario__label col-4">min-1</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
								</div>
								<p class="formulario__input-error">El campo se completa con notacion cientifica.</p>
							</div>
						</div>
						<div class="col-6">
							<label> Lineal de potencia [A] </label>
							<div class="formulario__grupo" id="grupo__intLinPotencia">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="intLinPotencia"id="intLinPotencia">
									<label class="formulario__label col-4">min-1</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
									<p class="formulario__input-error">El campo se completa con notacion cientifica.</p>
								</div>
							
							</div>	
							</div>
						</div>
					</div>
					<hr>
					
					<div class="row align-items-center">
							<label> Potencia [mW] </label>
							<div class="formulario__grupo" id="grupo__potencia">
								<div class="formulario__grupo-input  row justify-content-start my-2">
									<input type="text" class="formulario__input col-3" name="potencia" id="potencia">
									<label class="formulario__label col-4">mW</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
									<p class="formulario__input-error">El campo solo puede tener numeros reales.</p>
								</div>
							</div>
					</div>
					<hr>
					
					<div class="row align-items-center">
						<div class="col-6">
							<label> Gamma consola [uSv/h] </label>
							<div class="formulario__grupo" id="grupo__gammaConsola">
								<div class="formulario__grupo-input  row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="gammaConsola" id="gammaConsola">
									<label class="formulario__label col-4">cm</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
								</div>
								<p class="formulario__input-error">El campo solo puede tener numeros reales.</p>
							</div>
						</div>
						<div class="col-6">
							<label> Gamma reactor [uSv/h] </label>
							<div class="formulario__grupo" id="grupo__gammaReactor">
								<div class="formulario__grupo-input row justify-content-start my-2">
									<input type="text" class="formulario__input col-6" name="gammaReactor" id="gammaReactor">
									<label class="formulario__label col-4">cm</label>
									<i class="formulario__validacion-estado fas fa-times-circle"></i>
								</div>
								<p class="formulario__input-error">El campo solo puede tener numeros reales.</p>
							</div>
						</div>
					</div>
					<hr>
					<div class="row align-items-center"> 
						<div class="col-3">
							<label  class="my-2"> Régimen (Arranque - Crítico) </label>
							<br>
							<select class="form-select" aria-label="Default select example" name="regimen">
								<option value="arranque" text="arranque" selected> Arranque </option>
								<option value="potencia" text="potencia"> Potencia </option>
							</select>
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col">
							<label  class="my-2"> Observaciones </label>
							<br>
							<textarea class="form-control estilotextarea" name="observaciones" aria-label="With textarea"></textarea>
						</div>
					</div>
					<div class="row align-items-center my-2 ">
						<div class="col ">
							<div class="" role="group" aria-label="Basic example">
								<a class="btn btn-danger me-5"onclick="return confirm('Desea cancelar la operación? (No se guardaran los cambios realizados)')"
									href="/"> Cancelar </a>
								<button class="btn btn-success"> Aceptar </button>
							</div>
						</div>
						<div class="col text-end">
							<div class="btn-group " role="group" aria-label="Basic example">
								<a class="btn btn-danger" onclick="return confirm('Desea finalizar la operación?')"
									href="/operacion-general/apagado"> Finalizar operación </a>
							</div>
						</div>
					</div>
				</div>
			</form>
		
	</section >
	
				<table class="table table-dark table-hover " enctype="multipart/form-data">
					<thead>
						<tr>
							<th hidden> ID </th>
							<th > Fecha y Hora </th>
							<th > Temp. Núcleo [°C] </th>
							<th> Pos. Fuente [cm] </th>
							<th> Pos. Núcleo [cm] </th>
							<th> Pos. BC 1 [cm] </th>
							<th> Pos BC 2 [cm] </th>
							<th> Escalímetro [2x10-1 min] </th>
							<th> Int. Log. [pulsos/min] </th>
							<th> Int. Lin. [pulsos/seg] </th>
							<th> Lin. de potencia [A] </th>
							<th> Log. de potencia [A] </th>
							<th> Gamma consola [uSv/h] </th>
							<th> Gamma reactor [uSv/h] </th>
							<th> Potencia [mW] </th>
							<th> Régimen (Arranque - Crítico) </th>
							<th> Observaciones </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="o : ${o}">
							<td hidden class="text-white font-weight-bold text-left"></td>
							<td th:text="${#dates.format(o.fechaHora, 'dd-MM-yyyy h:mm')}"
								class="font-weight-bold text-left">
							</td>

							<td class="font-weight-bold text-left" th:text="${o.tempNucleo}"></td>

							</td>
							<td class="font-weight-bold text-left" th:text="${o.posFuente}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.posNucleo}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.posBC1}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.posBC2}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.escalimetro}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.intLogCA}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.intLinCA}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.intLogCP}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.intLinCP}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.gammaConsola}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.gammaReactor}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.potencia}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.regimen}">

							</td>
							<td class="font-weight-bold text-left" th:text="${o.observaciones}">

							</td>
						</tr>
					</tbody>
				</table>
	


	

	<script src="/js/ValidacionOperacion.js">
	</script>

	<script th:replace="/fragments/boostjs :: script">
	</script>
</body>

</html>