<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head">
	</head>

<body>
	 <header th:replace="/fragments/header :: header">
   		</header>
	
	<nav th:replace="/fragments/navbar :: nav">
		</nav>

	<div th:text="${logout}" th:if="${logout != null}" style="color: green"></div>

	<section>
		<form>
			<div class="container">
				<input type="checkbox" id="cbox1" value="cbox1"> <label for="cbox1"> 1. Apagar FAT canal de potencia </label><br>
	  			<input type="checkbox" id="cbox2" value="cbox2"> <label for="cbox2"> 2. Apagar FAT monitor gamma </label><br>
	  			<input type="checkbox" id="cbox3" value="cbox3"> <label for="cbox3"> 3. Apagar registradores </label><br>
	  			<input type="checkbox" id="cbox4" value="cbox4"> <label for="cbox4"> 4. Apagar FAT canal de arranque </label><br>
	  			<input type="checkbox" id="cbox5" value="cbox5"> <label for="cbox5"> 5. Apagar consola </label><br>
	  			<input type="checkbox" id="cbox6" value="cbox6"> <label for="cbox6"> 6. Apagar monitores de área </label><br>
	  			<input type="checkbox" id="cbox7" value="cbox7"> <label for="cbox7"> 7. Apagar PC </label><br>
	  			<input type="checkbox" id="cbox8" value="cbox8"> <label for="cbox8"> 8. Desenergizar la consola </label><br>
	 		</div>
	 		<div>
	 			<a class="btn btn-light" href="/"> Volver </a>
	    		<button class="btn btn-light"> Aceptar </button>
	 		</div>
		</form>
	</section>
	
	<footer th:replace="/fragments/footer :: footer">
		</footer>

	<script th:replace="/fragments/boostjs :: script">
		</script>
</body>
</html>