<!DOCTYPE html>
<html lang="es">

<head th:replace="/fragments/head :: head">
</head>

<body>
	<!-- <header th:replace="/fragments/header :: header">
		</header> -->

	<nav th:replace="/fragments/navbar :: nav">
	</nav>

	<section>
		<form onPaste="return true" action="/operacion-general/prueba-funcion" onsubmit="return validacionEnvio();" id="formulario"	method="POST">
			<h1 class="text-center"> PRUEBA DE FUNCIÓN </h1>
			<h2 th:text="@{N°: } + ${num}"></h2>
			<h2> FUENTES DE ALTA TENSIÓN </h2>
			<div>
				<div>
					<label><b> Fuente de alta tensión Canal de Arranque. Selector en 1950V </b></label>
				</div>
				<div>
					<label for="indicacionFATCA"> Indicación </label>
					<input type="text" onkeypress="return entero(event);" name="indicadorFATCA" id="validacionNumEntero">
					<label> V </label>
				</div>
			</div>
			<div>
				<div>
					<label><b> Fuente de alta tensión Canal de Potencia. Selector 600V </b></label>
				</div>
				<div>
					<label for="indicacionFATCP"> Indicación </label>
					<input type="text" onkeypress="return validacionNumEntero(event);" name="indicadorFATCP" id="indicadorFATCP">
					<label> V </label>
				</div>
			</div>
			<div>
				<div>
					<label><b> Fuente de alta tensión Monitor Gamma. Selector en 650V </b></label>
				</div>
				<div>
					<label for="indicacionFATMG"> Indicación </label>
					<input type="text" onkeypress="return validacionNumEntero(event);" name="indicadorFATMG" id="validacionNumEntero">
					<label> V </label>
				</div>
			</div>
			<hr>
			<h2> TEMPERATURA DEL NÚCLEO </h2>
			<div>
				<div>
					<label for="indicacionTN"> Indicación </label>
					<input type="text" onkeypress="return real(event);" name="temperaturaN">
					<label> °C </label>
				</div>
			</div>
			<hr>
			<h2> CANAL DE ARRANQUE </h2>
			<div class="container">
				<div class="row align-items-start">
					<div class="col">
						<div><b> Tubo Contador 1 </b></div>
						<div>
							Escalímetro. Valor nominal: 1900.2x10-1 min
						</div>
						<div>
							<input type="text" onkeypress="return validacionEntero(event);" name="escalimetroTCUno" id="entero">
							<label for=""> ctas. </label>
						</div>
						<div>
							Integrador lineal. Valor nominal: 60 s-1
						</div>
						<div>
							<input type="text" onkeypress="return validacionCientifica(event);" name="indicadorIntLogaritmicoTCUno" id="cientifica">
							<label for=""> s-1 </label>
						</div>
						<div>
							Integrador lograítmico. Valor nominal: 4000 min-1
						</div>
						<div>
							<input type="text" class="real" onkeypress="return real(event);" pattern="^-?[0-9]+([\.,][0-9]+)?$" name="indicadorIntLinealTCUno" id="validacionNumReal">
							<label for=""> min-1 </label>
						</div>
					</div>
					<div class="col">
						<div><b> Tubo Contador 2 </b></div>
						<div>
							Escalímetro. Valor nominal: 1900.2x10-1 min
						</div>
						<div>
							<input type="text" onkeypress="return validacionNumEntero(event);" pattern="^\d+$" name="escalimetroTCDos" id="validacionNumEntero">
							<label for=""> ctas. </label>
						</div>
						<div>
							Integrador lineal. Valor nominal: 60 s-1
						</div>
						<div>
							<input type="text" onkeypress="return validacionNotCientifica(event);" name="indicadorIntLogaritmicoTCDos" id="notCientificaCA">
							<label for=""> s-1 </label>
						</div>
						<div>
							Integrador logarítmico. Valor nominal: 4000 min-1
						</div>
						<div>
							<input type="text" onkeypress="return validacionNumReal(event);" pattern="^-?[0-9]+([\.,][0-9]+)?$" name="indicadorIntLinealTCDos" id="validacionNumReal">
							<label for=""> min-1 </label>
						</div>
					</div>
				</div>
				<div>
					<input type="checkbox"> Tubo contador 2 seleccionado
				</div>
			</div>
			<hr>
			<h2> INTEGRADOR LOGARÍTMICO DE ARRANQUE </h2>
			<h3> PRUEBA DE LOS VALORES LÍMITES </h3>
			<div>
				<label><b> Intensidad de fuente o flujo demasiado baja, h26 - Panel u19. Valor de referencia: 1000
						min-1) </b></label>
			</div>
			<div>
				<label for="indicacionFlujoDB"> Indicación </label>
				<input type="text" onkeypress="return validacionNumEntero(event);" name="indicadorIntensidadFDB" id="validacionNumEntero">
				<label> min-1 </label>
			</div>
			<div>
				<div>
					<label><b> Multiplicación demasiado alta, h27 - Panel u19.(Valor de referencia: 2x105 min-1)
						</b></label>
				</div>
				<div>
					<label for="indicacionMultiDA"> Indicación </label>
					<input type="text" onkeypress="return validacionNumEntero(event);" name="indicadorIntensidadFDA" id="validacionNumEntero">
					<label> min-1 </label>
				</div>
			</div>
			<hr>
			<h2> REGISTRADORES </h2>
			<h6> De potencia </h6>
			<div>
				<input type="checkbox" name="regPotON" value="regPotON"> Registrador de Potencia encendido
			</div>
			<div>
				<input type="checkbox" name="regPotFuncionando" value="regPotFuncionando"> Registrador de Potencia
				funcionando
			</div>
			<div>
				<input type="checkbox" name="regPotTinta" value="regPotTinta"> Registrador de Potencia con suficiente
				tinta
			</div>
			<h6> Conmutable </h6>
			<div>
				<input type="checkbox" name="regConmON" value="regConmON"> Registrador Conmutable encendido (75mm/h -
				Registrierung 1)
			</div>
			<div>
				<input type="checkbox" name="regConmFuncionando" value="regConmFuncionando"> Registrador Conmutable
				funcionando
			</div>
			<div>
				<input type="checkbox" name="regConmTinta" value="regConmTinta"> Registrador Conmutable con suficiente
				tinta
			</div>
			<hr>
			<h2> CANAL DE POTENCIA </h2>
			<div>
				<input type="checkbox" name="selctor" value="selector"> Selector de la fuente de corriente en PRUEBA
			</div>
			<div>
				<input type="checkbox" name="pulsador" value="pulsador"> Pulsador del conmutador en LOG
			</div>
			<h3> AMPLIFICADOR LOGARÍTMICO </h3>
			<h4> PRUEBA DE LOS VALORES LÍMITES </h4>
			<div>
				<label><b> Desconectar tensión contador, h29 - Panel u18. Valor nominal: 3x10-10A - 1,7mW </b></label>
			</div>
			<div>
				<label for="indicacion1"> Indicación </label>
				<input type="text" onkeypress="return validacionNotCientifica(event);" name="indicadorDesconexionTC" id="notCientificaCA">
				<label> A </label>
				<label for="registrador1"> Registrador </label>
				<input type="text" onkeypress="return validacionNumReal(event);" name="registradorDesconexionTC" id="validacionNumReal">
				<label> mW </label>
			</div>
			<hr>
			<!-- Checkbox -->
			<div>
				<input type="checkbox" name="apagar" value="apagar"> Apagar FAT del Canal de Arranque
			</div>
			<hr>
			<div>
				<div>
					<label><b> Conectar tensión contador, h28 - Panel u18. Valor de referencia: 2x10-10A - 1,5mW
						</b></label>
				</div>
				<label for="indicacion2"> Indicación </label>
				<input type="text" onkeypress="return validacionNotCientifica(event);" name="indicadorConexionTC" id="notCientificaCA">
				<label> A </label>
				<label for="registrador2"> Registrador </label>
				<input type="text" onkeypress="return validacionNumReal(event);" name="registradorConexionTC" id="validacionNumReal">
				<label> mW </label>
			</div>
			<div>
				<div>
					<label><b> Intensidad de fuente o flujo demasiado baja, h26 - Panel u19. Valor de referencia: 5x10-11A - 0,7mW </b></label>
				</div>
				<label for="indicacion3"> Indicación </label>
				<input type="text" onkeypress="return validacionNotCientifica(event);" name="indicadorFDBCanalLog" id="notCientificaCA">
				<label> A </label>
				<label for="registrador3"> Registrador </label>
				<input type="text" onkeypress="return validacionNumReal(event);" name="registradorFDBCanalLog" id="validacionNumReal">
				<label> mW </label>
			</div>
			<div>
				<div>
					<label><b> Pre-alerta canal logarítmnico, h30 - Panel u18. Valor de referencia: 4x10-9A - 25mW
						</b></label>
				</div>
				<label for="indicacion4"> Indicación </label>
				<input type="text" onkeypress="return validacionNotCientifica(event);" name="indicadorPreAlertaCanalLog" id="notCientificaCA">
				<label> A </label>
				<label for="registrador4"> Registrador </label>
				<input type="text" onkeypress="return validacionNumReal(event);" name="registradorPreAlertaCanalLog" id="validacionNumReal">
				<label> mW </label>
			</div>
			<div>
				<div>
					<label><b> Canal logarít. - Flujo demasiado alto, h31 - Panel u19. Valor de referencia: 2x10-7A -
							1100mW </b></label>
				</div>
				<label for="indicacion5"> Indicación </label>
				<input type="text" onkeypress="return validacionNotCientifica(event);" name="indicadorFDACanalLog" id="notCientificaCA">
				<label> A </label>
				<label for="registrador5"> Registrador </label>
				<input type="text" onkeypress="return validacionNumReal(event);" name="registradorFDACanalLog" id="validacionNumReal">
				<label> mW </label>
			</div>
			<hr>
			<h3> AMPLIFICADOR LINEAL </h2>
				<div>
					<input type="checkbox" name="conmCanL" value="conmCanL"> Botón del conmutador en LINEAL
				</div>
				<h4> PRUEBA DE LOS VALORES LÍMITES </h4>
				<div>
					<div>
						<label><b> Conmutar canal lineal, h34 - Panel u18. Valor de referencia: 70% F.E. - 2,1x10-8A con
								escala en 3x10-8A </b></label>
					</div>
					<label for="indicacion6"> Indicación </label>
					<input type="text" onkeypress="return validacionNotCientifica(event);" name="indicadorConmutarCanalLineal" id="notCientificaCA">
					<label> A </label>
					<label for="registrador6"> F.E. </label>
					<input type="text" onkeypress="return validacionNumReal(event);" name="registradorCanalLineal" id="validacionNumReal">
					<label> % </label>
				</div>
				<div>
					<div>
						<label><b> Flujo demasiado alto, h36 - Panel u19. Valor de referencia: 100% F.E. - 3x10-8A con
								escala en 3x10-8 A </b></label>
					</div>
					<label for="indicacion7"> Indicación </label>
					<input type="text" onkeypress="return validacionNotCientifica(event);" name="indicadorFDACanalLineal" id="notCientificaCA">
					<label> A </label>
					<label for="registrador7"> F.E. </label>
					<input type="text" onkeypress="return validacionNumReal(event);" name="registradorFDACanalLineal" id="validacionNumReal">
					<label> % </label>
				</div>
				<div>
					<input type="checkbox" name="selectOP" value="selectOP"> Selector de la fuente de control en
					OPERACIÓN
				</div>
				<div>
					<input type="checkbox" name="conmCORTE" value="conmCORTE"> Conmutador en CORTE
				</div>
				<hr>
				<h2> PRUEBA DE LOS DISPAROS DE SEGURIDAD </h2>
				<div>
					<input type="checkbox" name="check1"> Fuente de Alta Tensión (u7) en posición "0"
				</div>
				<div>
					<input type="checkbox" name="fallaEquipoCL"> Indicación Falla de equipo Canal lineal (h33 -
					Panel u19) encendida
				</div>
				<div>
					<input type="checkbox" name="fallaATCP"> Indicación Falla de alta tensión (h32 - Panel
					u19) encendida
				</div>
				<div>
					<input type="checkbox" name="check4"> Fuente de Alta Tensión (u7) en posición "I"
				</div>
				<div>
					<input type="checkbox" name="check5"> Encender fuente de alta tensión del canal de
					arranque - Tensión: 1950V
				</div>
				<hr>
				<h2> MONITOR GAMMA </h2>
				<h3> PRUEBA DE LOS VALORES LÍMITES </h3>
				<div>
					<div>
						<label><b> Dosis gamma demasiado alta, h38 - Panel u19. (Valor de referencia: 100 min-1, ≈ 10
								μSv/h) </b></label>
					</div>
					<label for="indGammaMax"> Indicación </label>
					<input type="text" onkeypress="return validacionNumEntero(event);" patter="^\d+$" name="indicadorDGammaAlta" id="validacionNumEntero">
					<label> min-1 </label>
					<div>
						<label><b> Falla del monitor gamma, h37 - Panel u19. (Valor de referencia: 3 min-1) </b></label>
					</div>
					<label for="indGammaMin"> Indicación </label>
					<input type="text" onkeypress="return validacionNumEntero(event);" pattern="^\d+$" name="indicadorFallaMG" id="validacionNumEntero">
					<label> min-1 </label>
				</div>
				<hr>
				<h2> OBSERVACIONES </h2>
				<div class="input-group">
					<textarea class="form-control" aria-label="With textarea" name="observaciones"></textarea>
				</div>
				<hr>
				<!-- Botón -->
				<div class="btn-group" role="group" aria-label="Basic example">
					<a class="btn btn-danger"
						onclick="return confirm('Desea cancelar la operación? (No se guardaran los cambios realizados)')"
						href="/operacion-general/nueva"> Cancelar </a>
				</div>
				<div class="btn btn-light" role="group" aria-label="Basic example">
					<button type="submit" class="btn btn-success"> Aceptar </button>
				</div>
		</form>
	</section>

	<footer th:replace="/fragments/footer :: footer">
	</footer>

	<script src="/js/validaciones.js">
	</script>

	<script th:replace="/fragments/boostjs :: script">
	</script>
</body>

</html>